.site-footer {
    background-color: var(--color-primary);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block: 80px;
}

.site-footer p {
    color: var(--color-white);
}

@media (max-width: 600px) {
    .site-footer {
        padding-block: 40px;
    }
}