.site-header {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 20px;
}

.site-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header a {
    color: var(--color-white);
}

.nav-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}